/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
    margin: 0;
    padding: 0;
  }


  .header-nav{
    background-color: #39A2F2;
    position: fixed;
    height: 90px;
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
    z-index: 30;
    color: #fff;

    a {
    color:#fff;
    text-decoration:underline;
    }


  .navbar {
   margin-right: 5%;
   text-decoration: none;
   color: #fff;


 a:visited{
   color: #fff;
   text-decoration: none;
 }
 a:hover {
   color: #fff;


 }
 }
 }

 body	{
   color:#1e2632;
 	background-color:#fff;
   font-family: Quicksand, 游ゴシック体, "Yu Gothic", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

   a{
     color:#1e2632 ;
     text-decoration: none;
   }
 }

 body,
 .wrapper{
   display: flex;
   flex-direction: column;
   min-height: 100vh;
 }


 footer {
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     position:fixed;
     bottom: 0px;
     height: 60px;
     background-color: #39A2F2;
     font-size: 15px;
     color: #fff;

     margin-top: auto;
 }
